<h2>Sign Up</h2>
<form action="/tweets" method="post">
  <h4><label></label>
  <input type="text" name="username" id="" ></h4>
  <h4><label></label>
  <input type="text" name="email" id="" ></h4>
  <h4><label></label>
  <input type="text" name="password" id="" ></h4>
  <input type="submit" 
</form>